SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[STP_SelecionaTurmaEmpresaUltimaPorIdProgramaIdEmpresa]
(
 @nIdPrograma INT,
 @nIdEmpresa INT
)
As   
BEGIN     
SET NOCOUNT ON  

	SELECT
		te.CEA_EMP_CADASTRO,
		te.CEA_CATEGORIA,
		te.CEA_ATIVIDADE_ECONOMICA,
		te.CEA_FATURAMENTO,
		te.NU_FUNCIONARIO,
		te.TX_CEP,
		te.TX_ENDERECO,
		te.TX_NUMERO,
		te.TX_COMPLEMENTO,
		te.FL_ATIVO,
		te.CEA_USUARIO,
		te.CEA_CIDADE,
		te.DT_ULTIMA_ALTERACAO,
		te.CEA_ESTADO,
		te.CEA_PAIS,
		te.DT_CADASTRO,
		te.TX_ATIVIDADE_ECONOMICA,
		te.FL_PARTICIPA_PROGRAMA,
		te.TX_NOME_CONTATO,
		te.TX_TELEFONE_CONTATO,
		te.TX_CELULAR_CONTATO,
		te.TX_EMAIL_CONTATO,
		te.TX_MENSAGEM_CONTATO,
		te.TX_CPF_CONTATO,
		te.DT_DATA_NASCIMENTO_CONTATO,
		te.TX_ENDERECO_CONTATO,
		te.TX_NUMERO_CONTATO,
		te.TX_COMPLEMENTO_CONTATO,
		te.TX_SEXO_CONTATO,
		te.CEA_NIVEL_ESCOLARIDADE,
		te.CEA_FAIXA_ETARIA,
		te.CEA_TURMA,
		te.CEA_TIPO_EMPRESA,
		te.CEA_BAIRRO,
		te.CEA_CARGO,
		te.TX_CEP_CONTATO,
		te.FL_PERGUNTA1,
		te.FL_PERGUNTA2,
		te.FL_PERGUNTA3,
		te.FL_PERGUNTA4,
		te.CEA_ESTADO_CONTATO,
		te.CEA_CIDADE_CONTATO,
		te.CEA_BAIRRO_CONTATO
	FROM TBL_TURMA_EMP te
	INNER JOIN TBL_TURMA tt ON tt.CDA_TURMA = te.CEA_TURMA
   WHERE CEA_EMP_CADASTRO = @nIdEmpresa 
   AND tt.CEA_PROGRAMA = @nIdPrograma
   ORDER BY te.DT_CADASTRO DESC;
  
RETURN  
END  
    
--
