SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[STP_SelecionaTurmaCompativel]
(
 @nIdTurma int,
 @nPRIVADA int
)
As    
BEGIN     
SET NOCOUNT ON  

	SELECT DISTINCT
	   T.CEA_PROGRAMA,
       T.CDA_TURMA,
       T.TX_CICLO,
       T.FL_ATIVO,
       T.DT_CADASTRO,
       T.TX_DESCRICAO,
       T.CEA_ESTADO,
       T.FL_PRIVADA,
       1 AS CEA_TIPO_ETAPA
  	   FROM TBL_TURMA T
	   JOIN  TBL_etapa E ON E.CEA_TURMA = T.CDA_TURMA AND CEA_TURMA <> 43 AND E.FL_ATIVO = 1
	   WHERE T.CEA_PROGRAMA = (SELECT PROG.CEA_PROGRAMA FROM TBL_TURMA PROG WHERE PROG.CDA_TURMA = 43)
         AND E.CEA_TIPO_ETAPA IN (SELECT EB.CEA_TIPO_ETAPA 
          							FROM TBL_ETAPA EB
									WHERE EB.CEA_TURMA = 43 
                                      AND EB.FL_ATIVO = 1)
		AND T.FL_PRIVADA = COALESCE(null, FL_PRIVADA)
		AND ISNULL(T.CEA_ESTADO,1) = (SELECT ISNULL(T.CEA_ESTADO,1) FROM TBL_TURMA T WHERE T.CDA_TURMA = 43)
  
RETURN  
END  
    
--
