/*   
------------------------------------------------------------------------------------------   
Procedure...............: STP_Seleciona_NumeroParticipantesCategoriaEtapaFga
Funcao..................:  
  
  
Tabelas utilizadas......: TBL_QUESTIONARIO_EMPRESA, TBL_TURMA_EMPRESA, TBL_QUESTIONARIO_PONTUACAO
Procedures utilizadas ..:   
Criada por..............: Diogo T. Machado
Data criacao............: 27/01/2011
Parmetros..............:   
    
Data  Nome   Descricao   
---------- ---------------- --------------------------------------------------   
dd/mm/aaaa XXXXXXXX   Alterao de parmetros   

---------- ---------------- --------------------------------------------------   
*/    
DECLARE @NAME_PROCEDURE VARCHAR(250) = 'STP_Seleciona_NumeroParticipantesCategoriaEtapaFga'

IF NOT EXISTS (SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(@NAME_PROCEDURE) and sysstat & 0xf = 4)
BEGIN
  EXEC ('CREATE PROCEDURE [dbo].['+ @NAME_PROCEDURE +'] AS')
END
GO


ALTER PROCEDURE [dbo].STP_Seleciona_NumeroParticipantesCategoriaEtapaFga
(
--------FILTROS DE TELA-------------------
  @CEA_TURMA INT,
  @sNOME_FANTASIA VARCHAR(500),
  @CEA_ESTADO INT,
  @CEA_CATEGORIA INT,
  @CEA_NIVEL_ESCOLARIDADE INT,
  @CEA_FAIXA_ETARIA INT,
  @CEA_CIDADE INT,
  @CEA_ESCRITORIO_REGIONAL INT,
  @CEA_GRUPO INT,
  @CEA_FATURAMENTO INT,
  @PROTOCOLO VARCHAR(200),
  @CPF_CNPJ VARCHAR(200),
  @CEA_ESTADO_REGIAO INT,
  @TX_SEXO_CONTATO VARCHAR(1),
  @DATAINICIO DATETIME,
  @DATAFIM DATETIME,
  @NU_FUNCIONARIOS INT,
  @TIPO_EMPRESA INT,

    @Autodiagnostico int,
    @AutodiagnosticoAdministrativo int,
    @ValidacaoAnaliseRespostas int,
    @VisitaPreviaPreClassificadas int,
    @NovoCicloFase4 int,
    @Encerramento int
------------------------------------------
)
As   
IF @TX_SEXO_CONTATO = ''
    set @TX_SEXO_CONTATO = null;
BEGIN     

SET NOCOUNT ON  

SELECT CAT.CDA_CATEGORIA, CAT.TX_CATEGORIA

   ,(SELECT COUNT(QUEST.CDA_QUESTIONARIO_EMPRESA)  FROM  TBL_QUESTIONARIO_EMPRESA QUEST
    JOIN TBL_ETAPA ETAPA ON ETAPA.CDA_ETAPA = QUEST.CEA_ETAPA
    JOIN TBL_EMP_CADASTRO EMP ON EMP.CDA_EMP_CADASTRO = QUEST.CEA_EMP_CADASTRO
    JOIN TBL_TURMA_EMP TURMA_EMP ON TURMA_EMP.CEA_EMP_CADASTRO = EMP.CDA_EMP_CADASTRO AND TURMA_EMP.CEA_TURMA = @CEA_TURMA
   --JOIN TBL_GRUPOEMPRESA GE ON GE.CEA_EMP_CADASTRO = EMP.CDA_EMP_CADASTRO
   --JOIN TBL_ESTADO_REGIAO ESR ON ESR.CEA_ESTADO = EST.CDA_ESTADO   
    WHERE QUEST.FL_ATIVO = 1
    AND QUEST.TX_PROTOCOLO IS NOT NULL
    AND (ETAPA.CEA_TIPO_ETAPA = @Autodiagnostico OR ETAPA.CEA_TIPO_ETAPA = @AutodiagnosticoAdministrativo) 
    AND ETAPA.CEA_TURMA = @CEA_TURMA
    AND TURMA_EMP.CEA_CATEGORIA = CAT.CDA_CATEGORIA
    AND EMP.TX_NOME_FANTASIA like '%' + @sNOME_FANTASIA + '%'
    AND ISNULL(TURMA_EMP.CEA_NIVEL_ESCOLARIDADE,0) = COALESCE(@CEA_NIVEL_ESCOLARIDADE, ISNULL(TURMA_EMP.CEA_NIVEL_ESCOLARIDADE,0) )
    AND ISNULL(TURMA_EMP.CEA_FAIXA_ETARIA,0) = COALESCE(@CEA_FAIXA_ETARIA, ISNULL(TURMA_EMP.CEA_FAIXA_ETARIA,0))
    AND ISNULL(TURMA_EMP.CEA_CIDADE,0) = COALESCE(@CEA_CIDADE, ISNULL(TURMA_EMP.CEA_CIDADE,0))
  --AND ISNULL(ER.CDA_ESCRITORIO_REGIONAL, 0) = COALESCE(@CEA_ESCRITORIO_REGIONAL, ISNULL(ER.CDA_ESCRITORIO_REGIONAL, 0))
  --AND ISNULL(TURMA_EMP.STATUS, 0) = COALESCE(@STATUS, ISNULL(TE.STATUS, 0))
  --AND ISNULL(GE.CEA_GRUPO, 0) = COALESCE(@CEA_GRUPO, ISNULL(GE.CEA_GRUPO, 0))
    AND ISNULL(TURMA_EMP.CEA_FATURAMENTO, 0) = COALESCE(@CEA_FATURAMENTO, ISNULL(TURMA_EMP.CEA_FATURAMENTO, 0))
    AND ISNULL(QUEST.TX_PROTOCOLO, '') like '%' + @PROTOCOLO + '%'
    AND EMP.TX_CPF_CNPJ like '%' + @CPF_CNPJ + '%'
  --AND ISNULL(ESR.CDA_ESTADO_REGIAO, 0) = COALESCE(@CEA_ESTADO_REGIAO, ISNULL(ESR.CDA_ESTADO_REGIAO, 0))
    AND ISNULL(TURMA_EMP.TX_SEXO_CONTATO, 0) = COALESCE(@TX_SEXO_CONTATO, ISNULL(TURMA_EMP.TX_SEXO_CONTATO, 0))
  --AND TURMA_EMP.DT_ULTIMA_ALTERACAO BETWEEN @DATAINICIO AND @DATAFIM
    AND ISNULL(TURMA_EMP.NU_FUNCIONARIO, 0) = COALESCE(@NU_FUNCIONARIOS, ISNULL(TURMA_EMP.NU_FUNCIONARIO, 0))
    AND ISNULL(TURMA_EMP.CEA_TIPO_EMPRESA, 0) =  COALESCE(@TIPO_EMPRESA, ISNULL(TURMA_EMP.CEA_TIPO_EMPRESA, 0))   
    ) [N_QtdAutodiagnosticoInicial]
    
     ,(SELECT COUNT(QUEST.CDA_QUESTIONARIO_EMPRESA)  FROM  TBL_QUESTIONARIO_EMPRESA QUEST
    JOIN TBL_ETAPA ETAPA ON ETAPA.CDA_ETAPA = QUEST.CEA_ETAPA
    JOIN TBL_EMP_CADASTRO EMP ON EMP.CDA_EMP_CADASTRO = QUEST.CEA_EMP_CADASTRO
    JOIN TBL_TURMA_EMP TURMA_EMP ON TURMA_EMP.CEA_EMP_CADASTRO = EMP.CDA_EMP_CADASTRO AND TURMA_EMP.CEA_TURMA = @CEA_TURMA
   --JOIN TBL_GRUPOEMPRESA GE ON GE.CEA_EMP_CADASTRO = EMP.CDA_EMP_CADASTRO
   --JOIN TBL_ESTADO_REGIAO ESR ON ESR.CEA_ESTADO = EST.CDA_ESTADO 
    WHERE QUEST.FL_ATIVO = 1
    AND ETAPA.CEA_TIPO_ETAPA = @ValidacaoAnaliseRespostas 
    AND ETAPA.CEA_TURMA = @CEA_TURMA
    AND TURMA_EMP.CEA_CATEGORIA = CAT.CDA_CATEGORIA
    AND EMP.TX_NOME_FANTASIA like '%' + @sNOME_FANTASIA + '%'
    AND ISNULL(TURMA_EMP.CEA_NIVEL_ESCOLARIDADE,0) = COALESCE(@CEA_NIVEL_ESCOLARIDADE, ISNULL(TURMA_EMP.CEA_NIVEL_ESCOLARIDADE,0) )
    AND ISNULL(TURMA_EMP.CEA_FAIXA_ETARIA,0) = COALESCE(@CEA_FAIXA_ETARIA, ISNULL(TURMA_EMP.CEA_FAIXA_ETARIA,0))
    AND ISNULL(TURMA_EMP.CEA_CIDADE,0) = COALESCE(@CEA_CIDADE, ISNULL(TURMA_EMP.CEA_CIDADE,0))
  --AND ISNULL(ER.CDA_ESCRITORIO_REGIONAL, 0) = COALESCE(@CEA_ESCRITORIO_REGIONAL, ISNULL(ER.CDA_ESCRITORIO_REGIONAL, 0))
  --AND ISNULL(TURMA_EMP.STATUS, 0) = COALESCE(@STATUS, ISNULL(TE.STATUS, 0))
  --AND ISNULL(GE.CEA_GRUPO, 0) = COALESCE(@CEA_GRUPO, ISNULL(GE.CEA_GRUPO, 0))
    AND ISNULL(TURMA_EMP.CEA_FATURAMENTO, 0) = COALESCE(@CEA_FATURAMENTO, ISNULL(TURMA_EMP.CEA_FATURAMENTO, 0))
    AND ISNULL(QUEST.TX_PROTOCOLO, '') like '%' + @PROTOCOLO + '%'
    AND EMP.TX_CPF_CNPJ like '%' + @CPF_CNPJ + '%'
  --AND ISNULL(ESR.CDA_ESTADO_REGIAO, 0) = COALESCE(@CEA_ESTADO_REGIAO, ISNULL(ESR.CDA_ESTADO_REGIAO, 0))
    AND ISNULL(TURMA_EMP.TX_SEXO_CONTATO, 0) = COALESCE(@TX_SEXO_CONTATO, ISNULL(TURMA_EMP.TX_SEXO_CONTATO, 0))
  --AND TURMA_EMP.DT_ULTIMA_ALTERACAO BETWEEN @DATAINICIO AND @DATAFIM
    AND ISNULL(TURMA_EMP.NU_FUNCIONARIO, 0) = COALESCE(@NU_FUNCIONARIOS, ISNULL(TURMA_EMP.NU_FUNCIONARIO, 0))
    AND ISNULL(TURMA_EMP.CEA_TIPO_EMPRESA, 0) =  COALESCE(@TIPO_EMPRESA, ISNULL(TURMA_EMP.CEA_TIPO_EMPRESA, 0))   
    ) [N_QtdIndicadasParaVisita]
    
     ,(SELECT COUNT(QUEST.CDA_QUESTIONARIO_EMPRESA)  FROM  TBL_QUESTIONARIO_EMPRESA QUEST
    JOIN TBL_ETAPA ETAPA ON ETAPA.CDA_ETAPA = QUEST.CEA_ETAPA
    JOIN TBL_EMP_CADASTRO EMP ON EMP.CDA_EMP_CADASTRO = QUEST.CEA_EMP_CADASTRO
    JOIN TBL_TURMA_EMP TURMA_EMP ON TURMA_EMP.CEA_EMP_CADASTRO = EMP.CDA_EMP_CADASTRO AND TURMA_EMP.CEA_TURMA = @CEA_TURMA
   --JOIN TBL_GRUPOEMPRESA GE ON GE.CEA_EMP_CADASTRO = EMP.CDA_EMP_CADASTRO
   --JOIN TBL_ESTADO_REGIAO ESR ON ESR.CEA_ESTADO = EST.CDA_ESTADO   
    WHERE QUEST.FL_ATIVO = 1
    AND ETAPA.CEA_TIPO_ETAPA = @VisitaPreviaPreClassificadas 
    AND ETAPA.CEA_TURMA = @CEA_TURMA
    AND TURMA_EMP.CEA_CATEGORIA = CAT.CDA_CATEGORIA
    AND EMP.TX_NOME_FANTASIA like '%' + @sNOME_FANTASIA + '%'
    AND ISNULL(TURMA_EMP.CEA_NIVEL_ESCOLARIDADE,0) = COALESCE(@CEA_NIVEL_ESCOLARIDADE, ISNULL(TURMA_EMP.CEA_NIVEL_ESCOLARIDADE,0) )
    AND ISNULL(TURMA_EMP.CEA_FAIXA_ETARIA,0) = COALESCE(@CEA_FAIXA_ETARIA, ISNULL(TURMA_EMP.CEA_FAIXA_ETARIA,0))
    AND ISNULL(TURMA_EMP.CEA_CIDADE,0) = COALESCE(@CEA_CIDADE, ISNULL(TURMA_EMP.CEA_CIDADE,0))
  --AND ISNULL(ER.CDA_ESCRITORIO_REGIONAL, 0) = COALESCE(@CEA_ESCRITORIO_REGIONAL, ISNULL(ER.CDA_ESCRITORIO_REGIONAL, 0))
  --AND ISNULL(TURMA_EMP.STATUS, 0) = COALESCE(@STATUS, ISNULL(TE.STATUS, 0))
  --AND ISNULL(GE.CEA_GRUPO, 0) = COALESCE(@CEA_GRUPO, ISNULL(GE.CEA_GRUPO, 0))
    AND ISNULL(TURMA_EMP.CEA_FATURAMENTO, 0) = COALESCE(@CEA_FATURAMENTO, ISNULL(TURMA_EMP.CEA_FATURAMENTO, 0))
    AND ISNULL(QUEST.TX_PROTOCOLO, '') like '%' + @PROTOCOLO + '%'
    AND EMP.TX_CPF_CNPJ like '%' + @CPF_CNPJ + '%'
  --AND ISNULL(ESR.CDA_ESTADO_REGIAO, 0) = COALESCE(@CEA_ESTADO_REGIAO, ISNULL(ESR.CDA_ESTADO_REGIAO, 0))
    AND ISNULL(TURMA_EMP.TX_SEXO_CONTATO, 0) = COALESCE(@TX_SEXO_CONTATO, ISNULL(TURMA_EMP.TX_SEXO_CONTATO, 0))
  --AND TURMA_EMP.DT_ULTIMA_ALTERACAO BETWEEN @DATAINICIO AND @DATAFIM
    AND ISNULL(TURMA_EMP.NU_FUNCIONARIO, 0) = COALESCE(@NU_FUNCIONARIOS, ISNULL(TURMA_EMP.NU_FUNCIONARIO, 0))
    AND ISNULL(TURMA_EMP.CEA_TIPO_EMPRESA, 0) =  COALESCE(@TIPO_EMPRESA, ISNULL(TURMA_EMP.CEA_TIPO_EMPRESA, 0))   
    ) [N_QtdAvaliacaoInicial]
    
      ,(SELECT COUNT(QUEST.CDA_QUESTIONARIO_EMPRESA)  FROM  TBL_QUESTIONARIO_EMPRESA QUEST
    JOIN TBL_ETAPA ETAPA ON ETAPA.CDA_ETAPA = QUEST.CEA_ETAPA
    JOIN TBL_EMP_CADASTRO EMP ON EMP.CDA_EMP_CADASTRO = QUEST.CEA_EMP_CADASTRO
    JOIN TBL_TURMA_EMP TURMA_EMP ON TURMA_EMP.CEA_EMP_CADASTRO = EMP.CDA_EMP_CADASTRO AND TURMA_EMP.CEA_TURMA = @CEA_TURMA
   --JOIN TBL_GRUPOEMPRESA GE ON GE.CEA_EMP_CADASTRO = EMP.CDA_EMP_CADASTRO
   --JOIN TBL_ESTADO_REGIAO ESR ON ESR.CEA_ESTADO = EST.CDA_ESTADO  
    WHERE QUEST.FL_ATIVO = 1
    AND ETAPA.CEA_TIPO_ETAPA = @NovoCicloFase4
    AND ETAPA.CEA_TURMA = @CEA_TURMA
    AND TURMA_EMP.CEA_CATEGORIA = CAT.CDA_CATEGORIA
    AND EMP.TX_NOME_FANTASIA like '%' + @sNOME_FANTASIA + '%'
    AND ISNULL(TURMA_EMP.CEA_NIVEL_ESCOLARIDADE,0) = COALESCE(@CEA_NIVEL_ESCOLARIDADE, ISNULL(TURMA_EMP.CEA_NIVEL_ESCOLARIDADE,0) )
    AND ISNULL(TURMA_EMP.CEA_FAIXA_ETARIA,0) = COALESCE(@CEA_FAIXA_ETARIA, ISNULL(TURMA_EMP.CEA_FAIXA_ETARIA,0))
    AND ISNULL(TURMA_EMP.CEA_CIDADE,0) = COALESCE(@CEA_CIDADE, ISNULL(TURMA_EMP.CEA_CIDADE,0))
  --AND ISNULL(ER.CDA_ESCRITORIO_REGIONAL, 0) = COALESCE(@CEA_ESCRITORIO_REGIONAL, ISNULL(ER.CDA_ESCRITORIO_REGIONAL, 0))
  --AND ISNULL(TURMA_EMP.STATUS, 0) = COALESCE(@STATUS, ISNULL(TE.STATUS, 0))
  --AND ISNULL(GE.CEA_GRUPO, 0) = COALESCE(@CEA_GRUPO, ISNULL(GE.CEA_GRUPO, 0))
    AND ISNULL(TURMA_EMP.CEA_FATURAMENTO, 0) = COALESCE(@CEA_FATURAMENTO, ISNULL(TURMA_EMP.CEA_FATURAMENTO, 0))
    AND ISNULL(QUEST.TX_PROTOCOLO, '') like '%' + @PROTOCOLO + '%'
    AND EMP.TX_CPF_CNPJ like '%' + @CPF_CNPJ + '%'
  --AND ISNULL(ESR.CDA_ESTADO_REGIAO, 0) = COALESCE(@CEA_ESTADO_REGIAO, ISNULL(ESR.CDA_ESTADO_REGIAO, 0))
    AND ISNULL(TURMA_EMP.TX_SEXO_CONTATO, 0) = COALESCE(@TX_SEXO_CONTATO, ISNULL(TURMA_EMP.TX_SEXO_CONTATO, 0))
  --AND TURMA_EMP.DT_ULTIMA_ALTERACAO BETWEEN @DATAINICIO AND @DATAFIM
    AND ISNULL(TURMA_EMP.NU_FUNCIONARIO, 0) = COALESCE(@NU_FUNCIONARIOS, ISNULL(TURMA_EMP.NU_FUNCIONARIO, 0))
    AND ISNULL(TURMA_EMP.CEA_TIPO_EMPRESA, 0) =  COALESCE(@TIPO_EMPRESA, ISNULL(TURMA_EMP.CEA_TIPO_EMPRESA, 0))   
    ) [N_QtdSelecionadasParaPrograma]
    
      ,(SELECT COUNT(QUEST.CDA_QUESTIONARIO_EMPRESA)  FROM  TBL_QUESTIONARIO_EMPRESA QUEST
    JOIN TBL_ETAPA ETAPA ON ETAPA.CDA_ETAPA = QUEST.CEA_ETAPA
    JOIN TBL_EMP_CADASTRO EMP ON EMP.CDA_EMP_CADASTRO = QUEST.CEA_EMP_CADASTRO
    JOIN TBL_TURMA_EMP TURMA_EMP ON TURMA_EMP.CEA_EMP_CADASTRO = EMP.CDA_EMP_CADASTRO AND TURMA_EMP.CEA_TURMA = @CEA_TURMA
   --JOIN TBL_GRUPOEMPRESA GE ON GE.CEA_EMP_CADASTRO = EMP.CDA_EMP_CADASTRO
   --JOIN TBL_ESTADO_REGIAO ESR ON ESR.CEA_ESTADO = EST.CDA_ESTADO  
    WHERE QUEST.FL_ATIVO = 1
    AND ETAPA.CEA_TIPO_ETAPA = @NovoCicloFase4
    AND ETAPA.CEA_TURMA = @CEA_TURMA
    AND TURMA_EMP.CEA_CATEGORIA = CAT.CDA_CATEGORIA
    AND EMP.TX_NOME_FANTASIA like '%' + @sNOME_FANTASIA + '%'
    AND ISNULL(TURMA_EMP.CEA_NIVEL_ESCOLARIDADE,0) = COALESCE(@CEA_NIVEL_ESCOLARIDADE, ISNULL(TURMA_EMP.CEA_NIVEL_ESCOLARIDADE,0) )
    AND ISNULL(TURMA_EMP.CEA_FAIXA_ETARIA,0) = COALESCE(@CEA_FAIXA_ETARIA, ISNULL(TURMA_EMP.CEA_FAIXA_ETARIA,0))
    AND ISNULL(TURMA_EMP.CEA_CIDADE,0) = COALESCE(@CEA_CIDADE, ISNULL(TURMA_EMP.CEA_CIDADE,0))
  --AND ISNULL(ER.CDA_ESCRITORIO_REGIONAL, 0) = COALESCE(@CEA_ESCRITORIO_REGIONAL, ISNULL(ER.CDA_ESCRITORIO_REGIONAL, 0))
  --AND ISNULL(TURMA_EMP.STATUS, 0) = COALESCE(@STATUS, ISNULL(TE.STATUS, 0))
  --AND ISNULL(GE.CEA_GRUPO, 0) = COALESCE(@CEA_GRUPO, ISNULL(GE.CEA_GRUPO, 0))
    AND ISNULL(TURMA_EMP.CEA_FATURAMENTO, 0) = COALESCE(@CEA_FATURAMENTO, ISNULL(TURMA_EMP.CEA_FATURAMENTO, 0))
    AND ISNULL(QUEST.TX_PROTOCOLO, '') like '%' + @PROTOCOLO + '%'
    AND EMP.TX_CPF_CNPJ like '%' + @CPF_CNPJ + '%'
  --AND ISNULL(ESR.CDA_ESTADO_REGIAO, 0) = COALESCE(@CEA_ESTADO_REGIAO, ISNULL(ESR.CDA_ESTADO_REGIAO, 0))
    AND ISNULL(TURMA_EMP.TX_SEXO_CONTATO, 0) = COALESCE(@TX_SEXO_CONTATO, ISNULL(TURMA_EMP.TX_SEXO_CONTATO, 0))
  --AND TURMA_EMP.DT_ULTIMA_ALTERACAO BETWEEN @DATAINICIO AND @DATAFIM
    AND ISNULL(TURMA_EMP.NU_FUNCIONARIO, 0) = COALESCE(@NU_FUNCIONARIOS, ISNULL(TURMA_EMP.NU_FUNCIONARIO, 0))
    AND ISNULL(TURMA_EMP.CEA_TIPO_EMPRESA, 0) =  COALESCE(@TIPO_EMPRESA, ISNULL(TURMA_EMP.CEA_TIPO_EMPRESA, 0))   
    ) [N_QtdAutodiagnosticoFinal]
    
     ,(SELECT COUNT(QUEST.CDA_QUESTIONARIO_EMPRESA)  FROM  TBL_QUESTIONARIO_EMPRESA QUEST
    JOIN TBL_ETAPA ETAPA ON ETAPA.CDA_ETAPA = QUEST.CEA_ETAPA
    JOIN TBL_EMP_CADASTRO EMP ON EMP.CDA_EMP_CADASTRO = QUEST.CEA_EMP_CADASTRO
    JOIN TBL_TURMA_EMP TURMA_EMP ON TURMA_EMP.CEA_EMP_CADASTRO = EMP.CDA_EMP_CADASTRO AND TURMA_EMP.CEA_TURMA = @CEA_TURMA
   --JOIN TBL_GRUPOEMPRESA GE ON GE.CEA_EMP_CADASTRO = EMP.CDA_EMP_CADASTRO
   --JOIN TBL_ESTADO_REGIAO ESR ON ESR.CEA_ESTADO = EST.CDA_ESTADO  
    WHERE QUEST.FL_ATIVO = 1
    AND ETAPA.CEA_TIPO_ETAPA = @NovoCicloFase4
    AND ETAPA.CEA_TURMA = @CEA_TURMA
    AND TURMA_EMP.CEA_CATEGORIA = CAT.CDA_CATEGORIA
    AND EMP.TX_NOME_FANTASIA like '%' + @sNOME_FANTASIA + '%'
    AND ISNULL(TURMA_EMP.CEA_NIVEL_ESCOLARIDADE,0) = COALESCE(@CEA_NIVEL_ESCOLARIDADE, ISNULL(TURMA_EMP.CEA_NIVEL_ESCOLARIDADE,0) )
    AND ISNULL(TURMA_EMP.CEA_FAIXA_ETARIA,0) = COALESCE(@CEA_FAIXA_ETARIA, ISNULL(TURMA_EMP.CEA_FAIXA_ETARIA,0))
    AND ISNULL(TURMA_EMP.CEA_CIDADE,0) = COALESCE(@CEA_CIDADE, ISNULL(TURMA_EMP.CEA_CIDADE,0))
  --AND ISNULL(ER.CDA_ESCRITORIO_REGIONAL, 0) = COALESCE(@CEA_ESCRITORIO_REGIONAL, ISNULL(ER.CDA_ESCRITORIO_REGIONAL, 0))
  --AND ISNULL(TURMA_EMP.STATUS, 0) = COALESCE(@STATUS, ISNULL(TE.STATUS, 0))
  --AND ISNULL(GE.CEA_GRUPO, 0) = COALESCE(@CEA_GRUPO, ISNULL(GE.CEA_GRUPO, 0))
    AND ISNULL(TURMA_EMP.CEA_FATURAMENTO, 0) = COALESCE(@CEA_FATURAMENTO, ISNULL(TURMA_EMP.CEA_FATURAMENTO, 0))
    AND ISNULL(QUEST.TX_PROTOCOLO, '') like '%' + @PROTOCOLO + '%'
    AND EMP.TX_CPF_CNPJ like '%' + @CPF_CNPJ + '%'
  --AND ISNULL(ESR.CDA_ESTADO_REGIAO, 0) = COALESCE(@CEA_ESTADO_REGIAO, ISNULL(ESR.CDA_ESTADO_REGIAO, 0))
    AND ISNULL(TURMA_EMP.TX_SEXO_CONTATO, 0) = COALESCE(@TX_SEXO_CONTATO, ISNULL(TURMA_EMP.TX_SEXO_CONTATO, 0))
  --AND TURMA_EMP.DT_ULTIMA_ALTERACAO BETWEEN @DATAINICIO AND @DATAFIM
    AND ISNULL(TURMA_EMP.NU_FUNCIONARIO, 0) = COALESCE(@NU_FUNCIONARIOS, ISNULL(TURMA_EMP.NU_FUNCIONARIO, 0))
    AND ISNULL(TURMA_EMP.CEA_TIPO_EMPRESA, 0) =  COALESCE(@TIPO_EMPRESA, ISNULL(TURMA_EMP.CEA_TIPO_EMPRESA, 0))   
    ) [N_QtdAvaliaçãoFinal]
    
  FROM TBL_CATEGORIA CAT
  WHERE CAT.CDA_CATEGORIA = COALESCE(@CEA_CATEGORIA, CAT.CDA_CATEGORIA)
    AND CAT.FL_ATIVO = 1;

RETURN  
END  
    
--    
