SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[STP_SelecionaTurmaEmpresaPorIdEmpresaIdPrograma]
(
 @nIdEmpresa INT,
 @nIdPrograma INT
)
As   
BEGIN     
SET NOCOUNT ON  

	SELECT
		te.CEA_EMP_CADASTRO,
		te.CEA_CATEGORIA,
		
		----TBL_TIPO_EMP  
        TE.CEA_TIPO_EMPRESA  
        ,TI.TX_TIPO_EMPRESA  
        ------------------------  
        ----TBL_FATURAMENTO  
        ,TE.CEA_FATURAMENTO  
        ,FA.TX_FATURAMENTO  
        ------------------------  
        ----TBL_CATEGORIA  
        ,TE.CEA_CATEGORIA  
        ,CAT.TX_CATEGORIA  
        ------------------------  
        ----TBL_AITIVIDADE_ECONOMICA  
        ,TE.CEA_ATIVIDADE_ECONOMICA  
        ,AE.TX_ATIVIDADE_ECONOMICA  
        ----------------------  
        --TBL_BAIRRO  
        ,TE.CEA_BAIRRO  
        ,BA.TX_BAIRRO  
        ------------------------  
        --TBL_CARGO  
        ,TE.CEA_CARGO  
        ,CA.TX_CARGO
        ,ES.TX_ESTADO
        --TBL_CONTATO_NIVEL_ESCOLARIDADE  
        ,TE.CEA_NIVEL_ESCOLARIDADE  
        ,NE.TX_NIVEL_ESCOLARIDADE  
        ------------------------  
        ------------------------  
        --TBL_CIDADE  
        ,TE.CEA_CIDADE  
        ,CI.TX_CIDADE,  
        ------------------------  
		te.CEA_FATURAMENTO,
		te.NU_FUNCIONARIO,
		te.TX_CEP,
		te.TX_ENDERECO,
		te.TX_NUMERO,
		te.TX_COMPLEMENTO,
		te.FL_ATIVO,
		te.CEA_USUARIO,
		te.CEA_CIDADE,
		te.DT_ULTIMA_ALTERACAO,
		te.CEA_ESTADO,
		te.CEA_PAIS,
		te.DT_CADASTRO,
		te.TX_ATIVIDADE_ECONOMICA,
		te.FL_PARTICIPA_PROGRAMA,
		te.TX_NOME_CONTATO,
		te.TX_TELEFONE_CONTATO,
		te.TX_CELULAR_CONTATO,
		te.TX_EMAIL_CONTATO,
		te.TX_MENSAGEM_CONTATO,
		te.TX_CPF_CONTATO,
		te.DT_DATA_NASCIMENTO_CONTATO,
		te.TX_ENDERECO_CONTATO,
		te.TX_NUMERO_CONTATO,
		te.TX_COMPLEMENTO_CONTATO,
		te.TX_SEXO_CONTATO,
		te.CEA_NIVEL_ESCOLARIDADE,
		te.CEA_FAIXA_ETARIA,
		te.CEA_TURMA,
		te.CEA_TIPO_EMPRESA,
		te.CEA_BAIRRO,
		te.CEA_CARGO,
		te.TX_CEP_CONTATO,
		te.FL_PERGUNTA1,
		te.FL_PERGUNTA2,
		te.FL_PERGUNTA3,
		te.FL_PERGUNTA4,
		te.CEA_ESTADO_CONTATO,
		te.CEA_CIDADE_CONTATO,
		te.CEA_BAIRRO_CONTATO
		 --TBL_CONTATO_FAIXA_ETARIA  
        ,TE.CEA_FAIXA_ETARIA  
        ,FE.TX_FAIXA_ETARIA
	FROM TBL_TURMA_EMP te
	INNER JOIN TBL_TURMA tt ON tt.CDA_TURMA = te.CEA_TURMA
	JOIN TBL_CONTATO_NIVEL_ESCOLARIDADE NE ON NE.CDA_NIVEL_ESCOLARIDADE = TE.CEA_NIVEL_ESCOLARIDADE  
	JOIN TBL_CONTATO_FAIXA_ETARIA FE ON FE.CDA_FAIXA_ETARIA = TE.CEA_FAIXA_ETARIA  
	JOIN TBL_BAIRRO BA ON BA.CDA_BAIRRO = TE.CEA_BAIRRO  
		JOIN TBL_CIDADE CI ON CI.CDA_CIDADE = TE.CEA_CIDADE  
		JOIN TBL_ESTADO ES ON ES.CDA_ESTADO = TE.CEA_ESTADO  
		JOIN TBL_CARGO CA ON CA.CDA_CARGO = TE.CEA_CARGO          
		JOIN TBL_TIPO_EMP TI ON TI.CDA_TIPO_EMPRESA = TE.CEA_TIPO_EMPRESA  
		JOIN TBL_FATURAMENTO FA ON FA.CDA_FATURAMENTO = TE.CEA_FATURAMENTO  
		JOIN TBL_CATEGORIA CAT ON CAT.CDA_CATEGORIA = TE.CEA_CATEGORIA  
		JOIN TBL_ATIVIDADE_ECONOMICA AE ON AE.CDA_ATIVIDADE_ECONOMICA = TE.CEA_ATIVIDADE_ECONOMICA  
   WHERE CEA_EMP_CADASTRO = @nIdEmpresa 
   AND tt.CEA_PROGRAMA = @nIdPrograma 
   AND te.FL_ATIVO = 1
   
RETURN  
END  
    
--
