
/*   
------------------------------------------------------------------------------------------      
Procedure...............: STP_AlteraDeTurma
Funcao..................:  
  
  
Tabelas utilizadas......: TBL_TURMA_EMP
Procedures utilizadas ..:   
Criada por..............: Diogo T. Machado
Data criacao............: 12/01/2011  
Parmetros..............:   
    
Data  Nome   Descricao   
---------- ---------------- --------------------------------------------------   
dd/mm/aaaa XXXXXXXX   Alterao de parmetros   

---------- ---------------- --------------------------------------------------   
*/    

DECLARE @NAME_PROCEDURE VARCHAR(250) = 'STP_AlteraDeTurma'

IF NOT EXISTS (SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(@NAME_PROCEDURE) and sysstat & 0xf = 4)
BEGIN
  EXEC ('CREATE PROCEDURE [dbo].['+ @NAME_PROCEDURE +'] AS')
END
GO

ALTER PROCEDURE [dbo].STP_AlteraDeTurma
(
@nIdEmpresaCadastro INT,
@nIdTurmaDestino INT,
@IdTurmaAtual INT
)
As    
BEGIN     

SET NOCOUNT ON  

UPDATE [TBL_TURMA_EMP]
   SET CEA_TURMA = @nIdTurmaDestino
  WHERE CEA_EMP_CADASTRO = @nIdEmpresaCadastro
  AND CEA_TURMA = @IdTurmaAtual
  
RETURN  

END  
    
--    
