html
{
    margin: 0;
    padding: 0;
}

body
{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;   
   
}
/*Login*/

#LoginBody
{
    background-color:#dddcd8;
}

.fundoLogin
{
   height:560px;
   width:862px;
   background-image:url(/image/Peg/loginPEG.png);
}


#loginCima{
	background-color:transparent;
    width: 900px;
    height:200px;
}

#ladoEsquerdoLogin
{
    width: 560px; 
    background-color: transparent;
}

.divTable
{
  
	color:#009;
	text-align:left;
	z-index:1;
	top: 29px;
	width: 260px;
	height:100px;
	font-size:10px;
	font-family: Arial, Helvetica, sans-serif;
}

.divTable a
{
    text-decoration: none;
}

/*Principal*/

textarea
{
    font-family: Arial;
    font-size: 11px;
}

#divTop
{
    width: 960px; 
    height: 114px; 
    margin-left: -2px; 
    background-image: url(/image/Fga/patroFGA.jpg);
    margin-top: -2px;  
}

#sairTopo
{
    left: 880px;
    top: 70px;
    position:absolute;     
    width:120px;/**/
}


#divMenu
{
    width: 1152px; 
    height: 39px; 
    background-image: url(/image/MPE/fundoMenu.jpg);        
    margin-left: -3px; 
    background-color: transparent;
    margin-top: -2px;
}



#tabelaConteudo
{
    border-style: none; 
    margin-top: -2px; 
    margin-left: -2px
}

#tdLateral
{
     min-width: 280px; 
     width: 280px;
     height: 421px;     
     background-image: url(/image/MPE/fundoUpdatePanelEsquerda2.jpg);           
     background-repeat: no-repeat; 
     background-color: #7ba3c9;  
      
}

#main
{
    margin-left: -235px;/**/
    *margin-left: 0px;/**/
    left: -120px;
    background-color: transparent;
    clear:both;
    width:960px;
    max-width:960px;
    min-height:400px;
    height:100%;
}

#footer
{
   
    font-size: x-small;
    text-align: center;    
    background-image: url(/image/MPE/fundorodape.jpg);
    background-repeat:repeat;
    color:White;
    /*width:1000px;
    min-width:1000px;/**/
}

#DivMsg h3
{
    color: Red;
}

#botaoEnviar{
	left: 1080px;
	top: 532px;
	position:absolute;
	z-index: 4;
}

.panelUC
{
    background-color: White;
    width: 800px;
    border: 1px outset black;
    position: relative;
    top: 10%;
}

.divUC
{
    overflow: auto;
    padding: 8px;
    height: 400px;
}

.fieldsetUC
{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 0px;
}

.obrigatorio
{
    color: Red;
}

.seplinhasTbl
{
        width: 100%;
        height:5px;
        padding:0;
        clear:both;
        background-color: Red;
}

h3
{
    font-size:16px;
}
/*Filedsets */

fieldset
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}

/*Popups de alertas*/

b, strong
{
    font-weight: bold;
    color: #000;
}

#header
{
    border-bottom: 1px dotted #000000;
    margin: 0 0 20px;
    padding: 20px 0;
}

#header h1
{
    font-size: 36px;
    margin: 0;
}

#header h4
{
    font-weight: normal;
    margin: 7px 0 0;
}

#header h4 a
{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Trebuchet MS" ,Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
}

#alert-Box
{
    padding-bottom: 24px;
    background: url('/image/popup/bg-box-bottom.png') bottom left no-repeat !important;
    background: url('/image/popup/bg-box-bottom.gif') bottom left no-repeat;
}
#alert-InBox
{
    padding-top: 15px;
    background: url('/image/popup/bg-box-top.png') top left no-repeat !important;
    background: url('/image/popup/bg-box-top.gif') top left no-repeat;
}
#alert-BoxContent
{
    background: url('/image/popup/bg-box-body.png') top left repeat-y !important;
    background: url('/image/popup/bg-box-body.gif') top left repeat-y;
    padding: 0px 20px;
}
#alert-BoxContenedor
{
    padding: 0px 0px 5px 55px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
}
#alert-BoxContenedor h1, #alert-BoxContenedor h2, #alert-BoxContenedor h3, #alert-BoxContenedor b, #alert-BoxContenedor strong
{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
#alert-Buttons
{
    text-align: right;
}
#alert-Buttons input
{
    margin: 10px 10px;
}
#alert-BoxContenedor #BoxPromptInput
{
    margin-top: 5px;
}
#alert-Box .BoxAlert
{
    background: url('/image/popup/dialog-warning.png') top left no-repeat;
}
#alert-Box .BoxConfirm
{
    background: url('/image/popup/delete.gif') top left no-repeat;
}
#alert-Box .BoxPrompt
{
    background: url('/image/popup/dialog-help.png') top left no-repeat;
}
#alert-Box .BoxInfo
{
    background: url('/image/popup/info.gif') top left no-repeat;
}
#alert-Box .BoxError
{
    background: url('/image/popup/dialog-error.png') top left no-repeat;
}


/*Questionário*/

.passos{
	width:950px;
	height:22px;
	padding:8px 0 0 10px;
/*	background:#d6dbdd;
	color:#004a8f;
	font-size:13px;
	font-weight:bold;*/
}

.passos span{
	font-size:11px;
	font-weight:bold;
/*	color:#004a8f;*/
}

.progressbar{
	width:152px;
	font-size:11px;
	height:20px;
	float:right;
	bordeR:solid 1px #e8dac1;
	margin:0 0 0 20px;
}

	.progressbar p{
		padding-left:21%;
		display:block;
		text-align:center;
		float:left;
		margin-top:-18px;
		
	}
	
	.progressbar span{
		display:block;
		height:20px;
		background:#abdef3;
		
	}

.ajudaCriterio{
	background:#FFFFFF none repeat scroll 0 0;
	border:2px solid #3F749E;
	margin:-68px 0 0 300px;
	*margin:-68px 0 0 -790px;
	color:#333333;
	font-size:13px;
	height:auto;
	line-height:17px;
	padding:15px;
	position:absolute;
	text-align:center;
	top:53%;
	width:300px;
}

span.ajuda_pergunta
{
    text-align: right;
    vertical-align:top;
/*	color:#22629E;	*/
}
span.ajuda_criterio
{
    text-align: right;
    margin-left:260px;
/*	color:#22629E;	*/
}
span.progresso
{
    text-align: right;
    margin-left:60px;
/*	color:#22629E;	*/
}
a.ajuda_criterio_link{
	border:2px solid #FFFFFF !important;
	color:#000000;
	width:15px;	
	text-align: right;
	text-decoration:none !important;
	font-weight:bold;
	vertical-align:top;
	/*background:#d6dbdd;*/
}

.divPerguntas
{
    width:865px;
}
table.quiz {
	width:785px;
	height: auto;
	margin:0 auto;
	clear:both;
}

table.quiz td{
	background-color:#e1eeee;
	height:auto;
	padding:5px;
	line-height:14px;
	border-bottom:solid 2px #fff;
	border-right:solid 2px #fff;
	vertical-align:middle;

}

table.quiz td.opcao {
	background-color:#dbdfdd;
	color:#22629e;
	height:35px;
	font-weight:bold;
	padding:0 15px 0 15px;
}

table.quiz td.selecao {
	background-color:#f8f8ff;
	width:30px;
}

.tabela{
	width:970px;
	height:100%;
}	

.tabela_ajuda{
	width:950px;
	height:256px;
	overflow-y: scroll;
}	

	.vazia{
		width:956px!important;
		height:auto!important;
		overflow-y: hidden!important;
		margin:10px 0 0 -5px!important;
		_margin:10px -12px 0 -5px!important;
	}	

	.tabela .linha{
		border-top:solid 1px #d6dbdd;
		margin:5px 5px 5px 0;
	}

	.tabela table tr td.num{
		width:40px;
		background:#cde8f0;
		font-family:tahoma;
		color:#000;
		font-size:14px;
		font-weight:bold;
		text-align:center;
		vertical-align:middle
	}
	
		.tabela table.selected tr td.num{
			background:#b8eeae
		}
	
	.tabela table tr td.desc{
		width:565px;
		background:#d6dbdd;
		color:#22629e;
		padding:7px 20px 7px 15px;
		font-size:11px;
	}
	
		.tabela table.selected tr td.desc{
			background: url(../images/botoes/ico_visto.gif) no-repeat  center right #e5eeda;
		}
	
	.tabela table tr td.nunca{
		width:114px;
		background:#d9e8ea;
		vertical-align:middle
	}
	
		.tabela table.selected tr td.nunca{
			background:#e5eeda
		}
	
	.tabela table tr td.asvezes{
		width:114px;
		background:#dadfde;
		vertical-align:middle
	}
	
		.tabela table.selected tr td.asvezes{
			background:#e5eeda
		}
	
	.tabela table tr td.sempre{
		width:114px;
		background:#c9d9dc;
		vertical-align:middle
	}
	
		.tabela table.selected tr td.sempre{
			background:#e5eeda
		}
	
	.tabela table tr td.nunca a,
	.tabela table tr td.asvezes a,
	.tabela table tr td.sempre a{
		padding:10px;
		display:block;
		text-align:center;
	}
		
	.tabela table tr td.wd{
		background:#cdf1c0!important
	}
	
	
    .titComoPreencher{
	    width:99%;
	    height:20px;
	    background:#3f7492;
	    padding:8px 0 4px 10px;
	    color:#F8F8FF;
	    font-size:13px;
	    font-weight:bold;
    }
	
    p.titMsg{
	    font-size:12px;
	    font-family:tahoma;
	    text-transform:uppercase;
	    color:#fff;
	    font-weight:bold;
	    background: #0072B4;
	    height:22px;
	    display:inline;
	    float:left;
	    padding:7px 9px 0px 9px;
	    margin:8px 0 5px 0;
    }

    span.descTXT{
	    color:#22629e;
	    font-size:12px;
	    font-family:tahoma;
	    display:block;
	    clear:both;
	    line-height:18px;
	    margin:0px 15px 15px 15px;
    }

div.descTXT-scroll {
	height: 280px; 
	color:#22629e!important;
	font-size:12px;
	font-family:tahoma;
	display:block;
	clear:both;
	line-height:18px;
	overflow: auto; 
	background-attachment: scroll; 
	padding-right:10px;

}
div.descTXT-230 {
	height: 275px; 
	display:block;
	clear:both;
	overflow: auto; 
	background-attachment: scroll; 
	padding-right:10px;

}

div.descTXT-scroll p{
color:#22629e;
}

ol.descTXT-texto {
	color:#22629e!important;
	font-size:12px;
	font-family:tahoma;
	display:block;
	clear:both;
	line-height:18px;
	/*list-style-type:decimal!important;*/
	list-style-position:inside!important;
	list-style-image:inherit!important;
	padding:7px 15px;
	
}
	
	span.descTXT p.btn_next input.bt_salvar,
	span.descTXT p.btn_next_rolagem input.bt_salvar, .bt_salvar, .bt_salvarAzul{
		width:65px;
		height:21px;
		line-height:999px!important;
		text-indent:-100px;
		cursor:pointer;
		background: url(../images/botoes/bt_salvar.gif) no-repeat;
		border:none;
	}
	
	.bt_salvarAzul{
		background: url(../images/botoes/bt_salvarAzul.gif) no-repeat;
		
		}
	
	span.descTXT p.btn_next input.bt_justificativa, .bt_justificativa {
		width:85px;
		height:21px;
		line-height:999px!important;
		text-indent:-100px;
		cursor:pointer;
		background: url(../images/botoes/bt_justificativa.gif) no-repeat;
		border:none;
		float:right
	}
	
